<div class="container">
  <div class="porduts">
      <div class="romance">
          <img src="https://i.pinimg.com/originals/d4/84/45/d484451a15d8163b348f641f30707563.jpg" alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aliquid id totam alias. Modi pariatur debitis,
             quae nemo voluptatem laboriosam quam enim quos neque, et quis doloribus molestiae est deleniti.</p>  
          <div class="icon"> 
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half"></i>
            </div>
           <button type="submit"class="btn" onclick="myData()">Buy Now</button>
           <button type="submit"class="btns" onclick="myDatas()">Add Card</button>
      </div>
      <div class="porduts">
          <div class="romance">
              <img src="https://rukminim1.flixcart.com/image/612/612/l0sgyvk0/book/a/6/z/a-game-of-thrones-original-imagcgcy4hjud7x9.jpeg?q=70" alt="">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At magni quibusdam labore voluptas dolorem exercitationem 
                facilis quod aliquam impedit eaque, voluptate fuga atque suscipit expedita nihil? Nisi omnis unde pariatur?</p>  
              <div class="icon"> 
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half"></i>
                </div>
               <button type="submit"class="btn" onclick="myData()">Buy Now</button>
               <button type="submit"class="btns" onclick="myDatas()">Add Card</button>
          </div>
          <div class="porduts">
              <div class="romance">
                  <img src="https://images.manning.com/360/480/resize/book/3/9458a37-9793-4e67-a23f-585da31dff55/Jemerov-Kotlin-HI.png" alt="">
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum molestiae labore, velit explicabo facere numquam, mollitia alias eveniet quae voluptatem
                     exercitationem laboriosam. Maxime, dolores iure?</p>   
                  <div class="icon"> 
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star-half"></i>
                    </div>
                   <button type="submit"class="btn" onclick="myData()">Buy Now</button>
                   <button type="submit"class="btns" onclick="myDatas()">Add Card</button>
              </div>
              <div class="porduts">
                  <div class="romance">
                      <img src="https://wildfeybooks.com/wp-content/uploads/2018/08/cover-dark-hope.jpg" alt="">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, alias! Sed, modi odio! Sapiente molestiae nam, nisi veritatis officiis ratione, 
                        molestias esse eum quod reiciendis debitis rerum harum. Officiis, quidem.</p>   
                      <div class="icon"> 
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star-half"></i>
                        </div>
                       
                       <button type="submit"class="btn" onclick="myData()">Buy Now</button>
                       <button type="submit"class="btns" onclick="myDatas()">Add Card</button>
                  </div>
              </div>
              
              </div>