<div class="container">
  <div class="porduts">
      <div class="romance">
          <img src="https://www.kindpng.com/picc/m/62-624304_horror-hd-png-download.png" alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aliquid id totam alias. Modi pariatur debitis,
             quae nemo voluptatem laboriosam quam enim quos neque, et quis doloribus molestiae est deleniti.</p>  
          <div class="icon"> 
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half"></i>
            </div>
           <button type="submit"class="btn" onclick="myData()">Buy Now</button>
           <button type="submit"class="btns" onclick="myDatas()">Add Card</button>
      </div>
      <div class="porduts">
          <div class="romance">
              <img src="https://www.kindpng.com/picc/m/440-4406810_horror-hd-png-download.png" alt="">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At magni quibusdam labore voluptas dolorem exercitationem 
                facilis quod aliquam impedit eaque, voluptate fuga atque suscipit expedita nihil? Nisi omnis unde pariatur?</p>  
              <div class="icon"> 
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half"></i>
                </div>
               <button type="submit"class="btn" onclick="myData()">Buy Now</button>
               <button type="submit"class="btns" onclick="myDatas()">Add Card</button>
          </div>
          <div class="porduts">
              <div class="romance">
                  <img src="https://www.seekpng.com/png/detail/642-6428184_my-horror-novella-the-book-at-dernier-has.png" alt="">
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum molestiae labore, velit explicabo facere numquam, mollitia alias eveniet quae voluptatem
                     exercitationem laboriosam. Temporibus asperiores quaerat autem ullam. Maxime, dolores iure?</p>   
                  <div class="icon"> 
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star-half"></i>
                    </div>
                   <button type="submit"class="btn" onclick="myData()">Buy Now</button>
                   <button type="submit"class="btns" onclick="myDatas()">Add Card</button>
              </div>
              <div class="porduts">
                  <div class="romance">
                      <img src="https://www.austinmacauley.com/sites/default/files/amp-insanitus-into-the-darkness-william-p-thomson.png" alt="">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, alias! Sed, modi odio! Sapiente molestiae nam, nisi veritatis officiis ratione, 
                        molestias esse eum quod reiciendis debitis rerum harum. Officiis, quidem.</p>   
                      <div class="icon"> 
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star-half"></i>
                        </div>
                       
                       <button type="submit"class="btn" onclick="myData()">Buy Now</button>
                       <button type="submit"class="btns" onclick="myDatas()">Add Card</button>
                  </div>
              </div>
              
              </div>