<div class="container">
<div class="menu">
    <div class="romance">
        <img src="https://w0.peakpx.com/wallpaper/110/400/HD-wallpaper-with-love-lovely-romantic-romance-rose-book-beautiful-roses-red-rose-flowers-nature.jpg"routerLink="/romance" alt="">
        <h1>ROMANTIC</h1>
    </div>
    <div class="horror">
        <img src="https://wallpaperaccess.com/full/8069828.jpg" routerLink="/horror" alt="">
        <h1>HORROR</h1>
    </div>
    <div class="history">
        <img src="https://images.unsplash.com/photo-1596402234200-650fd07ccf73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aGlzdG9yeSUyMGJvb2tzfGVufDB8fDB8fA%3D%3D&w=1000&q=80" routerLink="/history" alt="">
        <h1>HISTORY</h1>
    </div>
    <div class="children">
        <img src="https://c0.wallpaperflare.com/preview/993/493/121/kid-reading-baby-book-child.jpg" routerLink="/children" alt="">
        <h1>CHILDREN</h1>
    </div>
    <div class="action-adventure">
        <img src="https://c4.wallpaperflare.com/wallpaper/339/1011/733/adventure-book-chronicles-disney-wallpaper-preview.jpg" routerLink="/action-adventure" alt="">
        <h1>ADVENTURE</h1>
    </div>
</div>
</div>
<app-footer></app-footer>
